<h1 style="text-align: center;font-size: 36px;color:darkblue;">Preprocessing</h1>

# Imports

In [1]:
import pandas
import numpy
import seaborn
import matplotlib.pyplot as pyplot
import tabula

# Configurations

In [80]:
# %matplotlib qt;
%matplotlib inline
pyplot.rcParams["figure.figsize"] = (5, 3)

In [140]:
PDF_Data=tabula.read_pdf("../../Data/Main_Data/03022023_084003_204_IDBI_STATEMENT.pdf",pages="all")

# Data Exploration

In [126]:
len(PDF_Data)

13

In [127]:
PDF_Data[12]

          Date                                    Description  Amount Type
0   15/04/2021                 ACH-LIC OF INDIA-8842447050421   1,021   Dr
1   13/04/2021                              209095-SVC-KOLABA   7,552   Cr
2   12/04/2021                 ACH-LICHOUSINGFINLT-6121000026  18,496   Dr
3   12/04/2021                  NEFT-N102211472291292-FORTRAN   4,071   Cr
4   09/04/2021  UPI/109920027350/1277000100139827@punb0127700   5,000   Dr
5   09/04/2021                  NEFT-N099211469607825-PREMIUM   4,696   Cr
6   08/04/2021                 NEFT-N098211468140616-PRATAP R   6,566   Cr
7   31/03/2021                 NEFT-N090211457586230-PRATAP R   2,814   Cr
8   28/03/2021        UPI/108743853626/SUDHIR DATTARAM SHIRKE   1,000   Dr
9   26/03/2021                     UPI/108501425069/GOOGLEPAY       2   Cr
10  26/03/2021  UPI/108501048027/3865000100077773@punb0386500  25,000   Dr
11  25/03/2021                  NEFT-BKIDN21084265353-ARFISON   3,894   Cr
12  25/03/2021                 NEFT-000331576903-VEDANT DYEST  26,432   Cr
13  25/03/2021                                CA Keeping Chgs     649   Dr
14  24/03/2021                   592976/ LIFE INSURANCE CORPO  13,539   Dr

In [128]:
PDF_Data[0].columns

Index(['Date', 'Description', 'Amount', 'Type'], dtype='object')

In [129]:
final_table=pandas.concat(PDF_Data)

In [130]:
final_table['Amount']=final_table['Amount'].apply(lambda x:float(x.replace(",","")))

In [131]:
final_table.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 615 entries, 0 to 14
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         615 non-null    object
 1   Description  615 non-null    object
 2   Amount       615 non-null    float64
 3   Type         615 non-null    object
dtypes: float64(1), object(3)
memory usage: 24.0+ KB

In [132]:
final_table.describe()

              Amount
count     615.000000
mean    13416.659496
std     14800.130172
min         1.000000
25%      3369.500000
50%      8500.000000
75%     18496.000000
max    100000.000000

In [133]:
final_table

          Date                                    Description   Amount Type
0   31/01/2023                        123058-YES-SKIN CONSTRA   5900.0   Cr
1   27/01/2023       ID072502/27-01-23 19:22:30 /000000784573    700.0   Dr
2   27/01/2023                               000605-ICI-NEAUM  22420.0   Cr
3   21/01/2023                  NEFT-CITIN23308404597-AGARWAL   6490.0   Cr
4   19/01/2023                              003747-CIT-AND ON   8496.0   Cr
..         ...                                            ...      ...  ...
10  26/03/2021  UPI/108501048027/3865000100077773@punb0386500  25000.0   Dr
11  25/03/2021                  NEFT-BKIDN21084265353-ARFISON   3894.0   Cr
12  25/03/2021                 NEFT-000331576903-VEDANT DYEST  26432.0   Cr
13  25/03/2021                                CA Keeping Chgs    649.0   Dr
14  24/03/2021                   592976/ LIFE INSURANCE CORPO  13539.0   Dr

[615 rows x 4 columns]

In [134]:
final_table['Date']=pandas.to_datetime(final_table['Date'],dayfirst=True)

In [135]:
final_table.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 615 entries, 0 to 14
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         615 non-null    datetime64[ns]
 1   Description  615 non-null    object
 2   Amount       615 non-null    float64
 3   Type         615 non-null    object
dtypes: datetime64[ns](1), float64(1), object(2)
memory usage: 24.0+ KB

In [136]:
final_table

         Date                                    Description   Amount Type
0  2023-01-31                        123058-YES-SKIN CONSTRA   5900.0   Cr
1  2023-01-27       ID072502/27-01-23 19:22:30 /000000784573    700.0   Dr
2  2023-01-27                               000605-ICI-NEAUM  22420.0   Cr
3  2023-01-21                  NEFT-CITIN23308404597-AGARWAL   6490.0   Cr
4  2023-01-19                              003747-CIT-AND ON   8496.0   Cr
..        ...                                            ...      ...  ...
10 2021-03-26  UPI/108501048027/3865000100077773@punb0386500  25000.0   Dr
11 2021-03-25                  NEFT-BKIDN21084265353-ARFISON   3894.0   Cr
12 2021-03-25                 NEFT-000331576903-VEDANT DYEST  26432.0   Cr
13 2021-03-25                                CA Keeping Chgs    649.0   Dr
14 2021-03-24                   592976/ LIFE INSURANCE CORPO  13539.0   Dr

[615 rows x 4 columns]

In [137]:
final_table=final_table.reset_index(drop=True)

In [138]:
final_table.sort_values(by="Date")

          Date                                    Description   Amount Type
614 2021-03-24                   592976/ LIFE INSURANCE CORPO  13539.0   Dr
611 2021-03-25                  NEFT-BKIDN21084265353-ARFISON   3894.0   Cr
613 2021-03-25                                CA Keeping Chgs    649.0   Dr
612 2021-03-25                 NEFT-000331576903-VEDANT DYEST  26432.0   Cr
610 2021-03-26  UPI/108501048027/3865000100077773@punb0386500  25000.0   Dr
..         ...                                            ...      ...  ...
4   2023-01-19                              003747-CIT-AND ON   8496.0   Cr
3   2023-01-21                  NEFT-CITIN23308404597-AGARWAL   6490.0   Cr
2   2023-01-27                               000605-ICI-NEAUM  22420.0   Cr
1   2023-01-27       ID072502/27-01-23 19:22:30 /000000784573    700.0   Dr
0   2023-01-31                        123058-YES-SKIN CONSTRA   5900.0   Cr

[615 rows x 4 columns]

# Data Saving

In [139]:
final_table.to_csv("../../Data/Preprocessed_Data/Statement_Data.csv",index=False)